---
// Card.astro - Componente para una card individual
const { title, subtitle, imageUrl, href } = Astro.props;
---


<a href={href}>
  <div class="card">
    <div class="card-image">
      <img src={imageUrl} alt={title} />
    </div>
    <div class="card-content">
      <div class="card-title">{title}</div>
      <div class="card-subtitle">{subtitle}</div>
    </div>
  </div>
</a>

<style lang="scss">
  a{
    text-decoration: none;
  }
  .card {
    background-color: #f7f7f7;
    height: 510px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .card-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .card-content {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }

  .card-title {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
  }

  .card-subtitle {
    font-size: 18px;
    color: #828282;
  }

  @media (max-width: 768px) {
    .card {
      height: auto; /* Ajuste dinámico del alto para pantallas pequeñas */
      border-radius: 6px;
    }

    .card-image {
      padding: 15px; /* Reduce el padding alrededor de la imagen */
    }

    .card-title {
      font-size: 16px; /* Ajuste de tamaño de fuente para móviles */
    }

    .card-subtitle {
      font-size: 14px; /* Ajuste de tamaño de fuente para móviles */
    }
  }
</style>
